.field {
  position: relative;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  overflow: auto;
  display: grid;
  gap: 2px;
  padding: 0.15rem;
  background: var(--color-bg-base);
  box-shadow: var(--elevation-low);
  border-radius: 2px;
}
