.field {
  position: relative;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  overflow: auto;
  cursor: pointer; /* prevents cursor from flickering between particles */
  display: grid;
  gap: 1px;
  padding: 4px;
  /* background: var(--color-bg-surface); */
  border-style: dotted;
  border-color: var(--border-low);
  /* border-width: 1px 0.5px 0.5px 1px; */
  border-width: 2px;
  border-radius: 8px;
  opacity: 0.6;
  z-index: 1;
}

@media (prefers-color-scheme: light) {
  .field {
    border-width: 0.5px 1px 1px 0.5px;
    box-shadow: var(--elevation-low);
    opacity: 0.8;
  }
}
