.time-controller {
  display: flex;
  gap: 16px;
}

.time-controller button {
  appearance: none;
  background: hsl(0, 0%, 30%);
  border: none;
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  outline: none;
  padding: 6px 12px;
}

.time-controller button:hover {
  background: hsl(0, 0%, 35%);
}

.time-controller button:active {
  background: hsl(0, 0%, 25%);
}

.time-controller button:disabled {
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 70%);
  cursor: not-allowed;
}

.time-controller button.destroy {
  background: hsl(0, 0%, 40%);
}

.time-controller button.destroy:hover {
  background: hsl(0, 0%, 45%);
}

.time-controller button.destroy:active {
  background: hsl(0, 0%, 35%);
}

.time-controller button.destroy:disabled {
  background: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 70%);
  cursor: not-allowed;
}
