.title {
  color: var(--color-fg-base);
  font-size: 1rem;
}

.link {
  color: var(--color-fg-muted);
  cursor: pointer;
  text-decoration: none;
  padding: 0.25rem;
  position: relative;
  bottom: 0.25rem;
}

.link:hover {
  color: var(--color-accent-hover);
}
