.title {
  color: var(--color-fg-base);
  font-size: 1rem;
}

.title a {
  color: var(--color-fg-muted);
  cursor: pointer;
  text-decoration: none;
}

.title a:hover {
  color: var(--color-accent-hover);
}
