/* 
WARNING: DON'T LOOK IN HERE. 
IT'S A LITTLE GROSS. 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Hacks */
#root {
  width: 100%;
}

.universe {
  background: hsl(222deg 10% 13%);
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding-top: 56px;
  font-family: monospace;
}
