/* 
WARNING: DON'T LOOK IN HERE. 
IT'S A LITTLE GROSS. 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Hacks */
#root {
  width: 100%;
}

.universe {
  background: hsl(222deg 47% 13%)
    linear-gradient(28deg, hsl(222deg 47% 4%), transparent);
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding-top: 56px;
  font-family: "Courier New", Courier, monospace;
}

.title {
  color: hsl(222deg 47% 85%);
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.title a {
  color: hsl(353deg 85% 61%);
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.title a:hover {
  color: hsl(353deg 75% 51%);
}

.grid {
  background: hsl(222deg 47% 15%)
    linear-gradient(180deg, hsl(222deg 47% 4%), transparent);
  max-width: calc(100vw - 2rem);
  max-height: calc(100vw - 2rem);
  overflow: auto;
  display: grid;
  gap: 0.25rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 20%) 0px 0px 0px 1px inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.cell {
  appearance: none;
  border: none;
  background-color: hsl(217deg 32% 17%);
  border-radius: 0.125rem;
  font-family: monospace;
  color: white;
  cursor: cell;
  padding: 0;
  width: 100%;
  height: 100%;
}

.cell:hover {
  background-color: #7dd3fc26;
}

.cell.life {
  background-color: hsl(0deg 0% 50%);
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 40%) 0px 0px 0px 0.075rem inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.controls {
  display: flex;
  gap: 16px;
}

.controls button {
  background-color: hsl(243deg 45% 50%);
  border: none;
  color: hsl(243deg 75% 98%);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.1s;
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 10%) 0px 0px 0px 1px inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.controls button:hover {
  background-color: hsl(243deg 55% 55%);
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 20%) 0px 0px 0px 1px inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.controls button:active {
  background-color: hsl(243deg 60% 50%);
  transform: translateY(0.5px);
}

.controls button:disabled {
  opacity: 0.6;
  cursor: disabled;
}

.controls button:disabled {
  background-color: hsl(243deg 45% 30%);
  color: hsl(243deg 0% 70%);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.8;
}

.controls button.destroy {
  background-color: hsl(353deg 45% 41%);
  border: none;
  color: hsl(243deg 75% 98%);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.1s;
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 10%) 0px 0px 0px 1px inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.controls button.destroy:hover {
  background-color: hsl(353deg 55% 45%);
  box-shadow: hsl(0deg 0% 100%) 0px 0px 0px 0px inset,
    hsl(0deg 0% 100% / 20%) 0px 0px 0px 1px inset,
    hsl(0deg 0% 0% / 0%) 0px 0px 0px 0px;
}

.controls button.destroy:active {
  background-color: hsl(353deg 60% 39%);
  transform: translateY(0.5px);
}

.controls button.destroy:disabled {
  background-color: hsl(353deg 45% 30%);
  color: hsl(353deg 0% 70%);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}
