@import './reset.css';

.universe {
  background: hsl(0, 0%, 10%);
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding-top: 56px;
  font-family: monospace;
}
