@import url('https://fonts.cdnfonts.com/css/arkitextura');

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Arkitextura Regular', monospace;
  background: var(--color-bg-base);
  color: var(--color-fg-base);
}
